# data generator and tester
generate1.py
sample_data

# duckdb
brewline.duckdb
brewline.duckdb.wal

#miscellaneous
.env
__pycache__
.pytest_cache
brewline.egg-info/
logs/
brewline/data/parquet/
brewline/data/raw/
build/